{% extends "base.html" %}

{% load static %}
{% block title %} TITKIIII {% endblock %}

{% block content %}

<div class="container-fluid">
        <main class="tm-main">
            <h1 class="text-center"> Наши работы </h1>
            <div class="row tm-row tm-mb-45">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    {% load static %}
                    <img src="{% static 'img/myavki.jpg' %}" alt="Image" class="img-fluid"  style="display: block; margin: 0 auto;">
                </div>
            </div>
            <div class="row tm-row tm-mb-40">
                <div class="col-12">
                    <div class="mb-4">
                        <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title"> Что тут посмотреть </h2>
                        <p>
                            Здесь вы можете увидеть наши работы.
                            Показаны фото до и после, примеры редизайна и другие прикольные штуки.
                            Возможно можно будет отдавать мебель на редизайн, чтобы пополнять портфолио.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row tm-row tm-mb-60">
                <div class="col-12">
                    <hr class="tm-hr-primary  tm-mb-55">
                </div>
            </div>

            <div class="row tm-row tm-mb-60">
                <div class="col-lg-12 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <img src="{% static 'img/myavki5.jpg' %}" style="width: 400px; height: 400px;" alt="Image" class="img-fluid mr-4">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title">Работа 1</h2>
                            <h3 class="tm-h3 mb-3">
                                фхфхфхфхфхфхфхфхфхфхфх
                            </h3>
                            <p class="mb-0 tm-line-height-short">
                                фхфхфхфхфхфхфхфхфхфххфххфхффхфхфххфхфхфхфхфхфхфххфхф<br>описание товара<br>фхфхфххфхфххф
                                <br><br>
                                фхфхфхфхфхфхфхфххффхфхфхфхфхфхфхфхфхфхфхфхфхфхфхфхфхфхх<br> фхфхфхфхфхфх <br> фхфхфхфхфхфх <br> фхфхфхфхфхфхфхфх
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row tm-row tm-mb-60">
                <div class="col-lg-12 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <img src="{% static 'img/myavki4.jpg' %}" style="width: 400px; height: 400px;" alt="Image" class="img-fluid mr-4">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title">Работа 2</h2>
                            <h3 class="tm-h3 mb-3">
                                фхфхфхфхфхфхфхфхфхфхфх2
                            </h3>
                            <p class="mb-0 tm-line-height-short">
                                фхфхфхфхфхфхфхфхфхфххфххфхффхфхфххфхфхфхфхфхфхфххфхф<br>описание товара<br>фхфхфххфхфххф
                                <br><br>
                                фхфхфхфхфхфхфхфххффхфхфхфхфхфхфхфхфхфхфхфхфхфхфхфхфхфхх<br> фхфхфхфхфхфх <br> фхфхфхфхфхфх <br> фхфхфхфхфхфхфхфх
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row tm-row tm-mb-60">
                <div class="col-lg-12 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <img src="{% static 'img/myavki3.jpg' %}" style="width: 400px; height: 400px;" alt="Image" class="img-fluid mr-4">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">Работа 3</h2>
                            <h3 class="tm-h3 mb-3">фхфхфхфхфхфхфхфхфхфхфх3</h3>
                            <p class="mb-0 tm-line-height-short">
                                фхфхфхфхфхфхфхфхфхфххфххфхффхфхфххфхфхфхфхфхфхфххфхф<br>описание товара<br>фхфхфххфхфххф
                                <br><br>
                                фхфхфхфхфхфхфхфххффхфхфхфхфхфхфхфхфхфхфхфхфхфхфхфхфхфхх<br> фхфхфхфхфхфх <br> фхфхфхфхфхфх <br> фхфхфхфхфхфхфхфх
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row tm-row tm-mb-60">
                <div class="col-lg-12 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <img src="{% static 'img/myavki2.jpg' %}" style="width: 400px; height: 400px;" alt="Image" class="img-fluid mr-4">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">Работа 4</h2>
                            <h3 class="tm-h3 mb-3">фхфхфхфхфхфхфхфхфхфхфх4</h3>
                            <p class="mb-0 tm-line-height-short">
                                фхфхфхфхфхфхфхфхфхфххфххфхффхфхфххфхфхфхфхфхфхфххфхф<br>описание товара<br>фхфхфххфхфххф
                                <br><br>
                                фхфхфхфхфхфхфхфххффхфхфхфхфхфхфхфхфхфхфхфхфхфхфхфхфхфхх<br> фхфхфхфхфхфх <br> фхфхфхфхфхфх <br> фхфхфхфхфхфхфхфх
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row tm-row tm-mb-60">
                <div class="col-lg-12 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <img src="{% static 'img/myavki.jpg' %}" style="width: 400px; height: 400px;" alt="Image" class="img-fluid mr-4">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">Работа 5</h2>
                            <h3 class="tm-h3 mb-3">фхфхфхфхфхфхфхфхфхфхфх5</h3>
                            <p class="mb-0 tm-line-height-short">
                                фхфхфхфхфхфхфхфхфхфххфххфхффхфхфххфхфхфхфхфхфхфххфхф<br>описание товара<br>фхфхфххфхфххф
                                <br><br>
                                фхфхфхфхфхфхфхфххффхфхфхфхфхфхфхфхфхфхфхфхфхфхфхфхфхфхх<br> фхфхфхфхфхфх <br> фхфхфхфхфхфх <br> фхфхфхфхфхфхфхфх
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="row tm-row">
                <div class="col-md-6 col-12 tm-color-gray">
                    Каталог: <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-external-link">TemplateMo</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-social-icons">
                    <a href="ссылка на группу во ВКонтакте"><img src="{% static 'img/vk.jpg' %}" style="width: 100px; height: 100px;" alt="Группа ВКонтакте"></a>
                    <a href="ссылка на группу в Telegram"><img src="{% static 'img/telega.png' %}" style="width: 100px; height: 100px;" alt="Группа Telegram"></a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2020 Xtra Blog Company Co. Ltd.
                </div>
            </footer>

        </main>
    </div>

{% endblock %}
